:root {
  --main-color: #303030;
}

.search-overlay {
  background-color: #fff;
  bottom: 0;
  color: var(--main-color);
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  -webkit-transition: opacity .2s linear, -webkit-transform 0s .2s;
  transition: transform 0s .2s, opacity .2s linear;
  transition: transform 0s .2s, opacity .2s linear, -webkit-transform 0s .2s;
  z-index: 4;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%)
}

.search-overlay--open {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: opacity .2s linear, -webkit-transform 0s;
  transition: transform 0s, opacity .2s linear;
  transition: transform 0s, opacity .2s linear, -webkit-transform 0s;
  -webkit-transform: translateX(0);
  transform: translateX(0)
}

@media (min-width:700px) {
  .search-overlay__wrap {
      overflow: visible
  }
}

.search-overlay--open .search-overlay__wrap, .video__embed iframe {
  display: block
}

.search-overlay__close {
  background: 0 0;
  border: 0;
  cursor: pointer;
  height: 60px;
  line-height: 60px;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  padding: 0 24px 0 20px
}

.search-overlay__close, .search-overlay__form {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.search-overlay__form {
  max-width: 1000px;
  padding: 1em;
  min-width: 94vw
}

.search-overlay__form {
  max-width: 1000px;
  padding: 1em;
  min-width: 94vw
}

@media (min-width:1000px) {
  .search-overlay__form {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%)
  }
}

label {
  cursor: pointer;
  display: inline-block
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden
}

[type=color], [type=date], [type=datetime-local], [type=datetime],
[type=email], [type=month], [type=number], [type=password], [type=search],
[type=tel], [type=text], [type=time], [type=url], [type=week], input:not([type]),
textarea {
    border: 1px solid #dbdbdb;
    padding: .625em 1em
}

.search-overlay__input {
  background: 0 0;
  border-style: solid;
  border-color: #748796;
  border-width: 0 0 1px !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin-bottom: .5em;
  width: 100%;
  color: var(--main-color);
  font-family: "Merriweather", serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -.14px;
  text-align: center;
  border-radius: 0
}

@media (min-width:700px) {
  .search-overlay__form {
      min-width: 0
  }

  .search-overlay__input {
      font-size: 47px
  }
}

a, button, input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer
}

.search-overlay__submit {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: .056em;
  text-transform: uppercase;
  background: 0 0;
  border: 0;
  color: inherit;
  font-size: .8125em
}

.search-overlay__input:focus {
  outline-width: 0;
  outline: 0;
}