<!-- Target for toggling the search overlay `.search-checkbox` is for regular
     styles, `#search-checkbox` for behavior. -->
<input type="checkbox" class="search-checkbox" id="search-checkbox">

<div class="search-overlay">
  <div class="search-overlay__wrap">
    <form class="search-overlay__form" action="/search">
      <label class="visually-hidden" for="search-input">
        Type Your Search
      </label>
      <input type="text" id="search-input" class="search-overlay__input" name="q" placeholder="Type Your Search..." autocomplete="off">
      <button type="submit" class="search-overlay__submit">Press enter to search</button>
    </form>
  </div>
</div>